.panel-alt-two {
    position: relative;
    border: 0;
    border: none;
    box-shadow: none;
    &::after {
        content: "";
        position: absolute;
        top: 25px;
        bottom: 25px;
        left: 25px;
        width: 2px;
        background: #eeeeee;
    }
    &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        bottom: 25px;
        left: 22px;
        border-radius: 50%;
        background: #eeeeee;
    }
    .panel-heading {
        padding-left: 70px;
    }
    .panel-body {
        padding-left: 70px;
        padding-top: 0;
        p {
            color: #555555;
        }
    }
    .panel-heading {
        border: 0;
        padding-bottom: 25px;
        background: none;
        .panel-title {
            position: relative;
            font-weight: 700;
            a {
                color: #2b2e33;
                font-weight: normal;
                text-decoration: none;
                b {
                    font-weight: bold;
                }
                &:after {
                    content: "";
                    width: 40px;
                    border-top: 1px solid #ddd;
                    display: block;
                    margin-top: 15px;
                }
                &:hover {
                    color: $blue-dark;
                }
            }
        }
        a:hover .accordion-icon {
            background: rgba(221, 221, 221, 0.3);
        }
        &.active {
            a {
                color: $blue-dark;
            }
        }
        &.active .accordion-icon {
            background: rgba(221, 221, 221, 0.5);
            .stacked-icon {
                color: white;
                background: $blue-dark;
            }
        }
    }
}

.accordion-icon {
    position: absolute;
    top: -18px;
    left: -72px;
    background: transparent;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    line-height: 50px;
    padding: 3px;
    z-index: 3;
    .stacked-icon {
        height: 100%;
        background: white;
        border: 2px solid #e8e9ed;
        border-radius: 50%;
        color: #cacddb;
        font-size: 18px;
        text-align: center;
        display: block;
    }
}
